@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito", sans-serif; */
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
li,
form,
figure,
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

/* GRID FORMATTING */

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "contact"
        "footer";
}

/* Default to dark mode */
body {
    background-color: #091B29;
    color: #ffffff;
}

section {
    min-height: 100vh;
    max-width: 100vw;
    color: white;
    scroll-snap-align: start;
    overflow-y: scroll;
}

header {
    grid-area: header;
    background: red;
}

main {
    grid-area: main;
    background-color: yellow;
}

contact {
    grid-area: contact;
    background-color: blue;
}

/* NAVBAR */
.navbar {
    display: none;
}

.mobileNav {
    display: none;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 2; 
    color: white; 
}

#navBarContents {
    display: none;
    text-align: center;
    background-color: black;
    display: none;
    z-index: 2;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

#navBarContents i  {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    text-decoration: none;
}


/* HOME */
.title {
    /* margin-top: 3em; */
    text-align: center;
    align-items: center;
}

.title h1:first-child {
    color: #d62828;
    font-size: 2em;
}

.mobileHomeSubtitle,
.mobileHomePara {
    margin-top: 1em;
    color: transparent;
    position: relative;
}

.mobileHomeSubtitle::after,
.mobileHomePara::after {
    content: 'Im A Web Development & Cyber Security Student';
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 0;
}

.homePageButtons {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #394bb5;
    margin-right: 1em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1em;
    border-width: 0;
}

.welcomeIcons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
}

.semiContainer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
}

.semi-circle {
    margin-top: 10em;
    width: 100vw;
    height: 50vh;
    background-color: blue;
    border-radius: 100px 100px 0 0;
}

.overlay-image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 2;  */
    /* min-width: 100vw; */
    /* max-width: 100vw; */
    min-height: 90%;
}

/* ABOUT */

.aboutMeMobile,
.skillsMobile {
    min-width: 100%;
    min-height: 5vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.aboutSection {
    margin-top: 2em;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
    margin: 10px 0;
}

.imgContainer img {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: none;
}

.textContainer {
    text-align: center;
}

.aboutTitle {
    font-size: 24px;
    color: #01579b;
    margin-bottom: 10px;
}

.aboutSubtitle {
    font-size: 18px;
    color: #0277bd;
    margin-bottom: 20px;
}

.aboutslider button {
    background-color: #0288d1;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.infoSectionMe,
.infoSectionSkills {
    /* display: none; */
    padding: 10px;
    background-color: #b3e5fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoSectionSkills {
    display: none;
}

.infoSectionMe p,
.infoSectionSkills p {
    color: #01579b;
}

/* PROJECTS */

.three {
    /* padding: 2em; */
    overflow-y: scroll;
    min-height: 50vh;
}

.projectsTitle {
    text-align: center;
}

.projectTemplateClicked {
    display: none;
}

.projectGrid {
    padding: 1em; 
    display: flex;
    gap: 1em; 
    min-height: 40vh;
    overflow-y: auto; 
}

.column {
    background-color: #01579b;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 100vw;
    max-height: 70vh;
}

.projectType {
    text-align: center;
}

.icon-wrapper {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.projectName {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.projectSub {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.mobileProjectP {
    font-size: 1em;
    line-height: 1.5em;
}

.projectTemplateClicked {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    background-color: rgb(178, 25, 25); 
    /* justify-content: center; 
    align-items: center;  */
    /* color: #000; */
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: blur(500px);
    border: 5px solid #000; 
    box-shadow: 80px 80px 80px 80px rgba(0, 0, 0, 0.699);
}

.specifcProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    grid-template-areas:
    "projectHeader"
    "projectMain"
    "projectFooter";
}

.projectHeader {
    background-color: yellow;
    min-width: 80vw;
    min-height: 10%;
}

.projectMain {
    display: flex;
    flex-direction: row;
    /* background-color: orange; */
    min-height: 70%;
}

.projectColumn {
    flex: 1; 
}

.rightside {
    /* min-width: 50%; */
    background-color: pink;
}

.leftside {
    /* min-width: 50%; */
    background-color: green;
}

.projectHeader {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 1em;
}

.projectHeader button {
    color: #000;
    font-size: 1em;
	background: none;
	border: none;
	cursor: pointer;
    font-weight: bold;
}

.projectHeader button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform: translateY(-3px);
}

/* MY SKILLS  */
.mobileHideHobbies {
    display: none;
}

.skillsTitle {
    margin-top: 20px;
    text-align: center;
    padding: 0 2em;
}

.SkillsHeading {
    font-size: 2.5em;
    color: red;
}

.skillsTitle p {
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.Skillssubheading {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #ff6347;
}

.skillsGrid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 0 5%;
}

.skill-group {
    background-color: #091B29;
    padding: 1em;
    border-radius: 8px;
}

.skill {
    margin-bottom: 1em;
}

.skill-bar {
    width: 100%;
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 2em;
}

.skill-value {
    padding: 8px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
}

/* Skill Bar Colors */
.html {
    width: 90%;
    background: linear-gradient(to right, #4caf50, #8bc34a);
}

.css {
    width: 70%;
    background: linear-gradient(to right, #2196f3, #03a9f4);
}

.javascript {
    width: 65%;
    background: linear-gradient(to right, #ffeb3b, #ffc107);
}

.python {
    width: 60%;
    background: linear-gradient(to right, #ff5722, #ff9800);
}

.sql {
    width: 75%;
    background: linear-gradient(to right, #673ab7, #9c27b0);
}

.acrobat {
    width: 60%;
    background: linear-gradient(to right, #e91e63, #f44336);
}

/* CONTACT */

.four {
    background-color: #091B29;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
}

.contactRow {
    display: none;
}

.form-container {
    margin-top: 2em;
    min-width: 90vw;
    /* max-width: 600px; */
    padding: 1em;
    /* background-color: #fff; */
    background: linear-gradient(#ffffff 50%, #0288D1 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactHeading {
    color: #000;
    text-align: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-row input, .form-row textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-inputText:focus, .form-textarea:focus {
    background-color: #091B29;
    color: white;
    border: none;
    border-bottom: 2px solid #ff0000;
    transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
    /* min-width: 100%; */
}

.emailHeading {
    display: block;
    text-align: center;
}