@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito", sans-serif; */
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, p, li, form, figure, button, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

/* GRID FORMATTING */

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "contact"
        "footer";
}

body {
    background-color: #091B29;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

section {
    min-height: 100vh;
    min-width: 100vh;
    color: white;
    scroll-snap-align: start;
    /* overflow-y: scroll; */
}

header {
    grid-area: header;
    background: red;
}

main {
    grid-area: main;
    background-color: yellow;
}

contact {
    grid-area: contact;
    background-color: blue;
}

/* BACKGROUND COLOUR FORMATTING */

.snapping {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

.one {
    /* background-color: #091B29; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('resorce/car3.jpg'); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: white;
}

.two {
    /* background-color: #091B29; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
}

.three {
    /* background-color: #091B29; */
    height: 100vh;
}

/* .four {
    background-color: #091B29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
} */

/* NAV */
.mobileNav {
    display: none;
}

.navbar {
    color: #fff;
    position: fixed;
    min-height: 100vh;
    right: 0;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 0.5em;
    font-weight: bold;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 1em 1em;
}

.nav-item {
    display: flex;
    align-items: center;
}

.home, .about, .projects, .contact {
    display: none;
    position: absolute;
    left: -200px;
    transition: left 1 ease;
}

.slide-in {
    display: block !important;
    left: -55px; /* Slide to on-screen position */
}

/* SECTION ONE - Home */

.title {
    margin-left: 3em;
    /* position: absolute; */
    transform: translateY(-90%);
}

.backgroundImage {
    mix-blend-mode: multiply;
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.title h1 {
    font-size: 5em;
}

.title h1:first-child {
    color: #d62828;
}

.homePageButtons {
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: #394bb5;
    margin-right: 1em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1em;
    border-width: 0;
    transition: all .2s, box-shadow .08s ease-in;
    text-decoration: none;
}

.homePageButtons a {
    text-decoration: none;
}

.homePageButtons:hover {
    cursor: pointer;
    background-color: #19017d;
    transform: scale(1.1);
    text-decoration: underline;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    transform: translateY(-3px);
}

.welcomeIcons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
}

.welcomeIcons a:hover {
    cursor: pointer;
    color: #d81414;
    text-decoration: none;
}

.overlay-image {
    display: none;
}

/* ABOUT SECTION */

.aboutslider {
    display: none;
}

.mobileAboutSlider {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 7em;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}

.box {
    box-sizing: border-box;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.aboutTitle {
    font-size: 2.5em;
    color: red;
}

.aboutSubtitle {
    margin-top: 10px;
    margin-bottom: 1em;
}

.box p {
    color: white;
    letter-spacing: 1px;
}

.aboutImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(#ffffff00 50%, #fe2c2c 50%);
    transition: 0.5s;
    background-size: 100% 200%;
    background-position: 0 1.5%;
    border-radius: 0.5em;
    /* border: 3px solid #FFF; */
}

.Aboutbuttons button {
    text-decoration: none;
    margin-top: 1em;
    min-width: 5em;
    margin-right: 1em;
    font-weight: bold;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    cursor: pointer;
    font-size: 100%;
    height: 3em;
    transition: all .2s, box-shadow .08s ease-in;
}

.Aboutbuttons button:hover {
    background-color: #19017d;
    color: #fff;
    transform: scale(1.1);
    text-decoration: underline;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    transform: translateY(-3px);
}

.textContainer>div {
    max-height: 100%;
    /* overflow-y: auto; */
}

.textContainer:hover h1.aboutTitle {
    color: #ffffff;
    transition: 0.5s;
}


/* SECTION FOUR - PROJECTS */

.projectsTitle {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: red;
}

.projectText {
    max-width: 800px;
    display: flex;
    text-align: center;
}

.projectGrid {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    /* padding-top: 1em; */
}

.column {
    padding: 0 0.5em 0.5em 0.5em;
    text-align: center;
}

/* .column:not(:hover) {
    transform: scale(0.9);
    filter: blur(2px);
    opacity: 0.5;
} */

.projectType {
    height: 100%;
    padding: 2em 1.0em;
    background: linear-gradient(#ffffff 50%, #fe2c2c 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 0.5em;
    transition: 0.5s;
}

h1.projectName {
    font-size: 2em;
    font-weight: 700;
    color: #1f194c;
}

h1.projectSub {
    color: #1f194c;
}

p {
    color: #575a7b;
    font-size: 0.95em;
    line-height: 1.6em;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    background-color: #fe2c2c;
    margin: auto;
    font-size: 2em;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 100%;
    display: grid;
    align-items: center;
    transition: 0.5s;
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

.enlarged ~ .column {
    transform: scale(0.9);
    filter: blur(2px);
    opacity: 0.5;
}

/* PROJECT TEMPLATE */
.projectTemplateClicked {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    background-color: rgb(178, 25, 25); 
    /* justify-content: center; 
    align-items: center;  */
    /* color: #000; */
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: blur(500px);
    border: 5px solid #000; 
    box-shadow: 80px 80px 80px 80px rgba(0, 0, 0, 0.699);
}


.specifcProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    grid-template-areas:
    "projectHeader"
    "projectMain"
    "projectFooter";
}

.projectHeader {
    background-color: yellow;
    min-width: 80vw;
    min-height: 10%;
}

.projectMain {
    display: flex;
    flex-direction: row;
    /* background-color: orange; */
    min-height: 70%;
}

.projectColumn {
    flex: 1; 
}

.rightside {
    /* min-width: 50%; */
    background-color: pink;
}

.leftside {
    /* min-width: 50%; */
    background-color: green;
}

.projectHeader {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 1em;
}

.projectHeader button {
    color: #000;
    font-size: 1em;
	background: none;
	border: none;
	cursor: pointer;
    font-weight: bold;
}

.projectHeader button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform: translateY(-3px);
}

.skillscolumn {
    display: none;
}

/* CONTACT */
.four {
    /* background-color: #091B29; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    /* min-height: 100vh;
    overflow: hidden; */
}

.contactRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#ffffff 50%, #fe2c2c 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    min-width: 16em;
    min-height: 13em;
    margin: 1em;
    color: #1f194c;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.contactColumn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-position: 0 100%;
    color: #fff;
}

.contactColumn i {
    padding: 1em;
    font-size: 2em;
}

.contactTitle h2 {
    font-size: 1.5em;
    color: #1f194c;
}

.contactColumn a {
    color: #1f194c;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.5em;
}

.contactColumn a:hover {
    text-decoration: underline;
    font-size: 1.3em;
    transition: font-size 0.3s ease-in-out;
}

.form-container {
    min-width: 65%;
    max-width: 600px;
    padding: 2em;
    /* background-color: #fff; */
    background: linear-gradient(#ffffff 50%, #fe2c2c 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* form { */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
/* } */

.contactHeading {
    color: #000;
    text-align: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-row label {
    margin-bottom: 0.5em;
    font-weight: bold;
    opacity: 0;
}

.form-row input, .form-row textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-row button:hover {
    background-color: #0056b3;
}

.form-inputText:focus, .form-textarea:focus {
    background-color: #091B29;
    color: white;
    border: none;
    border-bottom: 2px solid #ff0000;
    transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
    /* min-width: 100%; */
}

.emailHeading {
    /* display: none; */
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: red;
}

/* Typing effect */
#typingEffect {
    border-right: 2px solid rgb(255, 255, 255);
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}

.homeFooterImg {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    mix-blend-mode: multiply;
}

.backgroundImageFooter {
    position: absolute; 
    mix-blend-mode: multiply;
    bottom: 0;
    transform: scaleY(1);
    z-index: -1; 
}
